VITE_OPENWEATHER_API_KEY=YOUR_OPENWEATHER_API_KEY
VITE_NOMINATIM_API_URL=https://nominatim.openstreetmap.org
VITE_KOREAN_LEGAL_SI_DATA_URL=https://kr-legal-dong.github.io/data/si.json
VITE_KOREAN_LEGAL_GU_DATA_URL=https://kr-legal-dong.github.io/data/gu.json
VITE_KOREAN_LEGAL_DONG_DATA_URL=https://kr-legal-dong.github.io/data/dong.json
